<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/}" href="/">Home</a></li>
                <li><a th:href="@{/pizze}" href="/pizze">Tutte le pizze</a></li>
                <li><a th:href="@{/pizze/create}" href="/pizze/create">Aggiungi una pizza</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
